body {
 
    text-align: center;
}
img1{
    width: auto;
}
img2{
    width: auto;
}
img3{
    width: auto;
}
img4{
    width: auto;
}
img5{
    width: auto;
}
img6{
    width: auto;
}
